@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}

.infinite-background::after {
    content: '';
    z-index: -10;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100%;
    background-image: url('../assets/pattern.svg') !important;
    background-repeat: repeat;
    background-position: 0 0;
    opacity: 0.2;
    animation: bg-scrolling-reverse 5s infinite;
    animation-timing-function: linear;
}

.infinite-background-black::after {
  content: '';
  z-index: -10;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
  background-image: url('../assets/patternblack.svg') !important;
  background-repeat: repeat;
  background-position: 0 0;
  opacity: 0.2;
  animation: bg-scrolling-reverse 5s infinite;
  animation-timing-function: linear;
}

@keyframes bg-scrolling-reverse {
  100% { background-position: 100px 100px; }
}

@keyframes bg-scrolling {
  0% { background-position: 40% 20%; }
}
